// main.scss
// Archivo principal de estilos para Remesas App (Alyto Design)

// 1. Configuracion y Bootstrap
@import "bootstrap_overrides";

// 2. Estilos Globales
body {
    background-color: $body-bg;
    color: $body-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Global Spacing Adjustments
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem; // Increase bottom margin for headings
}

.container,
.container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include media-breakpoint-up(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

p {
    margin-bottom: 1.25rem;
}

// 3. Componentes Personalizados
@import "components";

// 4. Utilidades extra (si corresponde)
.text-accent {
    color: $accent !important;
}

.bg-accent {
    background-color: $accent !important;
}

.text-primary {
    color: $primary !important;
}

.bg-primary-dark {
    background-color: darken($primary, 5%) !important;
}