/* Exchange Rate Marquee Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.exchange-rate-marquee-container:hover .marquee-wrapper {
  animation-play-state: paused;
}
